:root {
  font: 16px / 1 sans-serif;
  background-color: snow;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

form {
  /* display: flex; */
  /* flex-direction: column; */
  width: 200px;
  margin: 10%;
}

button {
  width: 6%;
  margin-left: 0.4%;
}
.employee-list {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  margin: 4%;
}
.input {
  font-display: bold;
  font-weight: 900;
}
